*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    text-align: center;
}

h1{
    margin-bottom: 10px;
    padding: 20px;
}

.container{
    height: 70vh;
    border: 2px soild black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vmin;
    border: 2px soild black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box{
    height: 50px;
    width: 50px;
    background-color: chocolate;
}