*{
    margin: 0;
    padding: 0;
    background-color: #ECE2D0;
    text-align: center;
}

h1{
    margin: 10px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cal-container{
    height: 35rem;
    width:28rem;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #D5B9B2;
    border-radius: 1rem;

}

.btn-container{
    height: 5rem;
    width: 5rem;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 1rem;
    background-color: #BFB5AF;
    flex-wrap: wrap;
    box-shadow: 2px 2px;
}

.rslt-container{
    height: 8rem;
    width: 28rem;
    border: 2px solid black;
    background-color: #D5B9B2;
    border-radius: 1rem;
    flex-wrap: wrap;
}