*{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
    text-align: center;
}

h1{
    margin-bottom: 10px;
    padding: 20px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: chocolate;
    border: 2px soild black;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black;
    font-size: 8vmin;
}

#reset{
    height: 6vh;
    width: 16vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: brown;
    border: 2px solid black;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 10px black;
}