*{
    margin: 0;
    padding: 0;
    background-color: #f5ea8a;
    text-align: center;
}

h1{
    margin-bottom: 10px;
    padding: 20px;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    background-color: #16164e;
    border: 2px soild #00bcd4;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px black;
    font-size: 8vmin;
}

#reset{
    height: 6vh;
    width: 16vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: #ce93d8;
    border: 2px solid black;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 10px black;
}

#new-btn{
    height: 6vh;
    width: 18vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: #ce93d8;
    border: 2px solid black;
    border-radius: 1rem;
    color: white;
    box-shadow: 5px 5px 10px black;
}

#msg{
    font-size: 8vmin;
}

.msg-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}